@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #1c3d5a, #42b2a6);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

.min-vh-screen {
  min-height: 100vh;
}
