@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

html,
body,
#__next {
  margin: 0;
  background: linear-gradient(135deg, #1c3d5a, #42b2a6);
  background-size: 200% 200%;
  animation: gradientBackground 10s ease infinite;
}

.min-vh-screen {
  min-height: 100vh;
}

.text-shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
